<html>
  <head>
    <style type="text/css">
      body {
        background: maroon;
        color: orange;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid blue;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>welcome to DevOpsbyArun </h4>
      <h4>!!</h4>
      <br>
       <h4>Thank you All !!!!!</h4>
    </div>
  </body>
</html>
